<p>Equipments ( {{ equipments.length }} )</p>
<!-- <div>
      <button>
            add equipment
      </button>
</div>
<div>
      <form (submit)="onSubmit()">
            <p>name</p>
            <input type="text" name="name" [(ngModel)] = "toSave.name">
            <p>quantity</p>
            <input type="number" name="quantity"  [(ngModel)] = "toSave.quantity" >
            <p>Family id</p>
            <input type="number" name="family_id"  [(ngModel)] = "toSave.equipmentFamilyId" >
            <button type="submit">save</button>
      </form>
</div> -->
<section class="content">
    <div class="body_scroll">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let equipment of equipments">
                    <div class="card">
                        <div class="body product_item">
                            <img src="" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">{{ equipment.name }}</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">{{ equipment.modelName }}</li>
                                    <li class="new_price">{{ equipment.price }}</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>               
    </div>
</section>

<!-- <a routerLink="/reservations" routerLinkActive="active" ariaCurrentWhenActive="page">reservations</a></p> -->
    <!-- <table>
        <thead>
              <tr>
                    <th scope="col">
                          ID
                    </th>

                    <th scope="col">
                          name
                    </th>

                    <th scope="col">
                          quantity
                    </th>
              </tr>
        </thead>
        <tbody>

              <tr *ngFor="let equipment of equipments">
                    <td>
                      {{ equipment.id }}
                    </td>
                    <td>
                      {{ equipment.name }}
                    </td>
                    <td>
                      {{ equipment.quantity }}
                    </td>
              </tr>

        </tbody>
  </table> -->
<!-- </div> -->